*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
}
.library {
    margin-top: 30px;
    background-color: #083344;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.header{
    color: rgb(14, 165, 233);
    text-align: center;
}
h1{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 50px;
}
p{
    margin-bottom: 15px;
    font-size: 22px;
}
button {
    width: 110px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(156, 163, 175);
    color: azure;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
}

/*Table styles*/
/*Spacing*/
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
thead th:nth-child(1) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(6),
thead th:nth-child(7) {
    width: 10%;
}
thead th:nth-child(5) {
    width: 20%;
}
th,
td {
  padding: 20px;
}

/*Typography*/
th {
    letter-spacing: 2px;
    font-size: 20px;
}
tbody td {
    text-align: center;
    color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

/*Graphics and colors*/
thead {
    background-color: #292524;
    color: rgb(221, 228, 228);
    text-shadow: 1px 1px 1px black;
}
table {
    border-bottom: 5px solid rgb(14, 165, 233);
}

/*Zebra stripping*/
tbody tr:nth-child(odd) {
    background-color: rgb(63, 63, 65);
}
tbody tr:nth-child(even) {
    background-color: rgb(50, 50, 52);
}
/*Caption*/
caption {
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(187, 216, 216);
}
tr td button {
    margin: 0;
    width: 100%;
    border: none;
}
.toggle {
    width: 60%;
}

/*Form styles.*/
button,
input,
label {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}
dialog[open] {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 208px auto;
    border: 4px solid rgb(14, 165, 233);
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    color: azure;
    width: 100%;
}
form h1 {
    margin-top: 10px;
    font-size: 24px;
}
form div {
    margin-bottom: 10px;
    width: auto;
    display: flex;
    gap: 10px;
}
button:hover {
    background-color: #10e637;
    cursor: pointer;
}
.radios {
    display: flex;
    justify-content: space-evenly;
}
.book-status p {
    font-size: 16px;
    margin-bottom: 10px;
}